.item {
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to right, rgb(187, 241, 202) , rgb(181, 181, 137));
  opacity: 0.7;
  border-radius: 9px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); 
  font-size: 2rem;
  width: 43rem;
  text-align: left;
  padding: 1rem;
  }